{% extends "base.html" %}
{% block body %}
<body class="text-center">
    <div class="container">
        <h1>Your Cart</h1>
        <br>
        
        {% if cart_items %}
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="color: white;">Product</th>
                        <th style="color: white;">Price</th>
                        <th style="color: white;">Total</th>
                        <th style="color: white;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in cart_items %}
                        <tr>
                            <td style="color: white;">{{ item.product_name }}</td>
                            <td style="color: white;">${{ item.unit_price }}</td>
                            <td style="color: white;">${{ item.total_price }}</td>
                            <td>
                                <form method="post" action="{{ url_for('cart') }}">
                                    <input type="hidden" name="itemss_id" value="{{ item.cart_id }}">
                                    <button type="submit" name="action" value="remove_item" class="btn btn-sm btn-danger">Remove</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="d-flex justify-content-between">
                <h3 style="color: white;"><h3>Total: ${{ cart_total }}</h3>
                <a href="{{ url_for('checkout') }}" class="btn btn-lg btn-outline-success">Checkout</a>
            </div>
        {% else %}
            <h3 style="color: white;">Your cart is empty.</h3>
            <a href="{{ url_for('products') }}" class="btn btn-lg btn-outline-primary">Continue Shopping</a>
        {% endif %}
    </div>
</body>
{% endblock %}